<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" monitorInterval="5">

    <properties>
        <property name="LOG_HOME">D://logs/Demo/java_logger/log4j2_demo</property>
    </properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] [%-5level] %l --- %m%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="trace">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
